{% extends 'home/index.html'%} {% block main_content %}
<h1>{{ course.name }}</h1>
<div class="course-header">
    {% if course.outcomes|length == 0 or course.assignments|length == 0%}
    <section class="messages">
        {% if course.outcomes|length == 0 %}
        <p>
            No outcomes imported. Use the <b>+ Outcome</b> button to get
            started.
        </p>
        {% endif %} {% if course.assignments|length == 0 %}
        <p>
            No assignments imported. Use the <b>+ Assignment</b> button to get
            started.
        </p>
        {% endif %}
    </section>
    {%endif%}
    <div class="actions">
        <button
            class="btn"
            hx-get="/sync/outcomes/{{course.canvas_id}}"
            hx-target="main"
            hx-swap="beforeend"
            hx-indicator="#toast"
        >
            + Outcome
        </button>
        <button
            class="btn"
            hx-get="/sync/assignments/{{course.canvas_id}}"
            hx-target="main"
            hx-swap="beforeend"
            hx-indicator="#toast"
        >
            + Assignment
        </button>
    </div>
</div>
<section class="stored-outcomes">
    {% for outcome in course.outcomes %}
    {{render_partial('outcome/partials/outcome_card.html', item=outcome,
    course_id=course.canvas_id)}} {%endfor%}
</section>

<section class="roster-actions">
    <input
        id="roster-search"
        type="text"
        placeholder="Search students..."
        _="on keyup 
                if the event's key is 'Escape' 
                    set my value to ' ' 
                    trigger keyup 
                else show <tr /> in .scroller when its textContent contains my value
                "
    />
</section>
<section id="scores">
    {{ render_partial('course/partials/score_table.html', students=students,
    course=course) }}
</section>

{% endblock %}
