{# TODO: Return the full sidebar array of courses instead of moving an element
from one place to another. Moving from one to the other doesn't work well
because it can't be initialize easily. Click events aren't registered on the new
element. #}
<form
    class="item item--small"
    hx-trigger="click"
    hx-post="/courses"
    hx-indicator="#toast"
    _="on htmx:afterSwap remove me"
>
    <input type="hidden" name="course_id" value="{{item.id}}" />
    <input type="hidden" name="name" value="{{item.name}}" />
    <p>{{item.name}}</p>
</form>
