<div
    class="item course-item"
    hx-get="/courses/{{ item.id }}"
    hx-trigger="click"
    hx-target="#course-details"
    hx-swap="outerHTML"
    hx-indicator="#toast"
    _="on click 
            remove .active from <div />
            then add .active to me"
>
    <div class="course-item-inner">
        <p>{{ item.name }}</p>
        <span
            title="{{item.outcomes|length}} alignment{%if item.outcomes|length == 0 or item.outcomes|length > 1%}s{%endif%}"
            >{{item.outcomes|length}}</span
        >
    </div>
</div>
