<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}LMG Helper {%endblock%}</title>

        <link rel="stylesheet" href="static/css/main.css" />
        {% block additional_css %} {%endblock%}
    </head>
    <body>
        <nav>{% include 'shared/partials/nav.html' %}</nav>
        <main>{% block main_content %} {% endblock %}</main>
        {% include 'shared/partials/toast.html' %}
        <script type="module" src="static/js/main.js"></script>
        <script src="https://unpkg.com/htmx.org@1.6.1"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.4"></script>
        {% block additional_js %} {% endblock %}
    </body>
</html>
