{% extends 'shared/_layout.html' %}

<!-- prettier ignore -->
{% block main_content %}
<section
    hx-target="main"
    hx-swap="beforeend"
    hx-get="/courses"
    hx-trigger="load"
>
    <div id="course-details">
        <p>
            This application is meant to help you gather and sort through
            Outcome data in Canvas.
        </p>
        <ul>
            <li>
                Import courses using the "Add new course" button on the left.
            </li>
            <li>
                Click a course title to import Outcomes and Assignments you want
                to track.
            </li>
            <li>
                Outcomes watch assignments and update the score when it's over
                your Mastery Score.
            </li>
            <li>
                Change your preferred Mastery Score and Mastery Score Calculaton
                in <b>Preferences</b>
            </li>
        </ul>
    </div>
</section>
{% endblock %}
