:root {
    --black: #333;
    --primary-color: #4270e1;
    --neutral-gray: #e6f4f1;
    --neutral-dark: #444655;
    --warn-color: #d34600;
    --success-color: #00915b;
    --white: #f8f8ff;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: var(--black);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

hr {
    border-style: solid;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

select {
    width: 100%;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

main {
    text-align: left;
    padding: 1em;
    /* max-width: 240px; */
    margin: 0 auto;
    margin-left: 356px;
    font-family: inherit;
}

.warn {
    color: var(--warn-color);
}

.warn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sidebar {
    display: block;
    height: 100%;
    width: 356px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;

    box-sizing: border-box;
    background-color: #fff;
    padding: 15px;
    overflow: auto;
    z-index: 10;
}

.sidebar-inner {
    padding: 0 0.75rem;
    box-sizing: border-box;
}

.sidebar--left {
    left: 0;
    border-right: 1px solid var(--neutral-gray);
}

.sidebar--right {
    right: 0;
    border-left: 1px solid black;
    transition: right 350ms ease-in;
}

#right-sidebar-inner input[type='text'] {
    width: 100%;
}

.sidebar--right.htmx-added {
    right: -356px;
}

.btn {
    padding: 0.75rem 0.5rem;
    cursor: pointer;
    background-color: var(--neutral-color);
    margin-right: 25px;
}

.btn:hover {
    opacity: 0.85;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white);
    font-weight: bold;
}

.btn-secondary {
    background-color: var(--neutral-gray);
}

.btn-warn {
    background-color: var(--warn-color);
}

.btn-close {
    background-color: transparent;
    border: none;
}

.btn-close:hover {
    cursor: pointer;
}

.hide {
    right: -356px;
}

.course-item-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.course-item-inner span {
    width: 10%;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
}

.active {
    border-color: blue;
    background-color: lightblue;
    transition: all;
}
.course-item:hover {
    cursor: pointer;
}

.item-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: left;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    transition: all;
}

.item {
    box-sizing: border-box;
    padding: 10px 25px;
    border: 1px solid var(--neutral-dark);
    border-radius: 3px;
    margin: 10px 0;
}

.item:hover {
    cursor: pointer;
    /* opacity: 0.85; */
    background-color: var(--neutral-gray);
}

.item--small {
    box-sizing: border-box;
    border: 1px solid var(--neutral-dark);
    border-radius: 3px;
    padding: 5px 15px;
    margin: 5px 0;
}

.item.attempt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item.attempt > p {
    margin: 0.75rem;
}

.item.attempt > .score {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}

.item.attempt:hover {
    background-color: inherit;
    cursor: default;
}

.outcome {
    width: 250px;
}
.outcome--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.course-header {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}
.course-header button {
    margin: 0;
}

.stored-outcomes {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

nav {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    height: 55px;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    z-index: 1;
    padding-right: 25px;
}

.nav-item {
    display: block;
    padding: 0 10px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    overflow-x: scroll;
}
.headers {
    position: sticky;
    top: 55px;
}
thead th:first-child {
    width: 25%;
}
th {
    padding: 15px 0 20px 0;
    background-color: #fff;
}
.scroller {
    overflow: auto;
}
td {
    padding: 5px 2.5px;
    border: 1px solid transparent;
}
td:not(:first-child):hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.details-wrap {
    display: table-row;
}
.details {
    display: grid;
    grid-template-rows: 1fr 80%;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'title action' 'attempts chart';
    margin-bottom: 10px;
}
.details h3 {
    grid-area: title;
}
.details > .btn-close {
    grid-area: action;
}
.details > .attempts {
    grid-area: attempts;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 10px;
}
.details > .attempts > b {
    width: 100%;
}

.details > svg {
    grid-area: chart;
}
.sparkline {
    stroke: #000;
    fill: rgba(0, 0, 0, 0.15);
}

.selected {
    background-color: lightgreen;
}

#toast {
    display: block;
    position: absolute;
    opacity: 0;
    bottom: -1.5rem;
    right: 1.5rem;
    width: 250px;
    background-color: var(--neutral-dark);
    color: var(--neutral-gray);
    transition: all 350ms;
    z-index: 1000;
}
.htmx-indicator {
    transition: none;
}
#toast .htmx-request .htmx-indicator {
    bottom: 1.5rem;
    opacity: 1;
}
#toast.htmx-request.htmx-indicator {
    bottom: 1.5rem;
    opacity: 1;
}

#toast.htmx-request.htmx-indicator.error {
    background-color: var(--warn-color);
    border-color: transparent;
    width: auto;
}
