:root {
    --primary-color: #361d32;
    --secondary-color: #dcdcdc;
    --hover-color: #f1e8e6;
    --warn-color: #f55951;
    --success-color: #00915b;
    --tooltip-color: #f9f871;
    --black: #333;
    --white: #f8f8ff;

    --active-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --active-shadow-small: rgba(0, 0, 0, 0.1) 0px 10px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 5px 10px -5px;
    --shadow-left-border: rgba(0, 0, 0, 0.1) 0px 10px 25px -5px,
        rgba(0, 0, 0, 0.04) -10px 0px 10px -5px;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: var(--black);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

hr {
    border-style: solid;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

select {
    width: 100%;
}

input:disabled {
    color: #ccc;
}

input[type='text'] {
    height: 36px;
    line-height: 36px;
}

#roster-search {
    width: 50%;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

img,
video {
    display: block;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border: 1px solid var(--secondary-color);
    box-shadow: var(--active-shadow-small);
}

main {
    text-align: left;
    padding: 1em;
    /* max-width: 240px; */
    margin: 0 auto;
    margin-left: 356px;
    font-family: inherit;
}

.warn {
    color: var(--warn-color);
}

.warn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sidebar {
    display: block;
    height: 100%;
    width: 356px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;

    box-sizing: border-box;
    background-color: #fff;
    padding: 15px;
    overflow: auto;
    z-index: 10;
}

.sidebar-inner {
    padding: 0 0.75rem;
    box-sizing: border-box;
}

.sidebar--left {
    left: 0;
    border-right: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
}

.sidebar--right {
    right: 0;
    transition: right 350ms ease-in;
    box-shadow: var(--shadow-left-border);
}

#right-sidebar-inner input[type='text'] {
    width: 100%;
}

.sidebar--right.htmx-added {
    right: -356px;
}

.btn {
    padding: 0.75rem 0.5rem;
    cursor: pointer;
    margin-right: 25px;
}

.btn:disabled {
    cursor: not-allowed;
}

.btn:hover {
    opacity: 0.85;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white);
    font-weight: bold;
}

.btn-primary svg {
    vertical-align: middle;
}

.btn-primary svg.left {
    margin-right: 0.5rem;
}

.btn-primary svg.right {
    margin-left: 0.5rem;
}

.btn-primary path {
    fill: var(--white);
}

.btn-secondary {
    background-color: var(--secondary-color);
}

.btn-warn {
    background-color: var(--warn-color);
}

.btn--sync {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid transparent;
    border-radius: 1.5rem;
    transition: all 200ms ease-in;
}

.btn--sync path {
    fill: var(--black);
}

.btn--sync:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    border-color: var(--secondary-color);
}

.btn-close {
    background-color: transparent;
    border: 1px solid;
    border-color: transparent;
}

.btn-close:hover {
    cursor: pointer;
    border-color: var(--black);
}

.hide {
    right: -356px;
}

.deleted {
    opacity: 0;
}

.course-item-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.course-item-inner span {
    width: 10%;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
}

.course-item:hover {
    cursor: pointer;
}

.item-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: left;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    opacity: 1;
    transition: all 300ms ease-in;
}

.item {
    box-sizing: border-box;
    padding: 10px 25px;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 10px 0;
}

.item:hover {
    cursor: pointer;
    border-color: var(--primary-color);
}

.item.active {
    border-color: var(--primary-color);
}

.item--small {
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 5px 0;
}

.item--small:hover {
    border-color: var(--primary-color);
}

.item.attempt {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: var(--primary-color);
}

.item.attempt > p {
    margin: 0.75rem;
}

.item.attempt > .score {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}

.item.attempt:hover {
    background-color: inherit;
    cursor: default;
}

.outcome {
    width: 250px;
    border-color: var(--secondary-color);
}

.outcome:hover {
    box-shadow: var(--active-shadow);
}

.outcome--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.course-header {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}

.course-header button {
    margin: 0;
}

.stored-outcomes {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.roster-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    height: 55px;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    z-index: 1;
    padding-right: 25px;
}

.nav-item {
    display: block;
    padding: 0 10px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    overflow-x: scroll;
}

#mastery-calculation-details {
    margin-bottom: 1.5rem;
    border-collapse: collapse;
}

#mastery-calculation-details td,
#mastery-calculation-details th {
    border: 1px solid var(--primary-color);
    border-collapse: collapse;
    padding: 0.75rem;
}
.headers {
    position: sticky;
    top: 55px;
}
thead th:first-child {
    width: 25%;
}
th {
    padding: 15px 0 20px 0;
    background-color: #fff;
}
.th-inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.scroller {
    overflow: auto;
}
td {
    padding: 5px 2.5px;
    border: 1px solid transparent;
}
td:not(:first-child) {
    text-align: center;
}
.scroller td:not(:first-child):hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.details-wrap {
    display: table-row;
}
.details {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'title action' 'attempts chart';
    margin-bottom: 20px;
}
.details h3 {
    grid-area: title;
}
.details > .btn-close {
    grid-area: action;
}
.details > .attempts {
    grid-area: attempts;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 10px;
}
.details > .attempts > b {
    width: 100%;
}

.details > svg {
    grid-area: chart;
}
.sparkline {
    stroke: #000;
    fill: rgba(0, 0, 0, 0.15);
}

.selected {
    background-color: lightgreen;
}

#toast {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    bottom: -5rem;
    right: 1.5rem;
    min-width: 250px;
    margin: 0;
    padding: 0;
    transition: all 350ms;
    z-index: 1000;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--white);
}
#toast.show {
    bottom: 1.5rem;
    opacity: 1;
}
#toast-message {
    padding: 0.75rem 1.25rem;
}

#toast-action {
    background-color: rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    display: block;
    padding: 1.25rem;
}
#toast-action:hover {
    cursor: pointer;
}
.htmx-indicator {
    transition: none;
}
#toast .htmx-request .htmx-indicator {
    bottom: 1.5rem;
    opacity: 1;
}
#toast.htmx-request.htmx-indicator {
    bottom: 1.5rem;
    opacity: 1;
}

#toast.htmx-request.htmx-indicator.error {
    background-color: var(--warn-color);
    border-color: transparent;
    width: auto;
}

.tooltip {
    position: relative;
}

.tooltip:before {
    content: attr(data-tooltip); /* here's the magic */
    position: absolute;

    /* vertically center */
    top: -4rem;

    /* move to right */
    left: -100px; /* half the width of the tip */

    /* basic styles */
    width: 200px;
    padding: 0.5rem;
    border-radius: 2px;
    background: var(--tooltip-color);
    color: var(--black);
    text-align: center;

    display: none; /* hide by default */

    box-shadow: var(--active-shadow);
}

.tooltip:hover:after {
    border: solid;
    border-color: var(--tooltip-color) transparent;
    border-width: 6px 6px 0 6px;
    top: -0.8rem;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.tooltip:hover:before {
    display: inline;
}

/* Table sorting */
th[role='columnheader']:not(.no-sort) {
    cursor: pointer;
}

th[role='columnheader']:not(.no-sort) > .th-inner-container:after {
    content: '';
    border-width: 4px 4px 0;
    border-style: solid;
    border-color: var(--black) transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

th[aria-sort='ascending']:not(.no-sort) > .th-inner-container:after {
    border-top: none;
    border-width: 0 4px 4px;
}

th[aria-sort]:not(.no-sort) > .th-inner-container:after {
    visibility: visible;
    opacity: 0.4;
}

th[role='columnheader']:not(.no-sort) > .th-inner-container:hover:after {
    visibility: visible;
    opacity: 1;
}
