<div class="item outcome" hx-target="this" hx-swap="outerHTML">
    <h3>{{outcome.name}}</h3>
    <div id="watching">
        <form
            hx-put="courses/{{course_id}}/outcomes/{{outcome.canvas_id}}/edit"
            hx-trigger="submit"
            {#
            hx-ext="json-enc"
            #}
        >
            <select id="assignment-id" name="assignment_id">
                <option value="">---</option>
                {% for assignment in assignments %}
                <option value="{{ assignment.canvas_id }}">
                    {{ assignment.name }}
                </option>
                {% endfor %}
            </select>
            <input type="submit" class="btn btn-primary" />
        </form>
        {# Handle cancel request on parent to reload the entire element with
        outcome context. #}
        <button
            class="btn btn-secondary"
            hx-get="/outcomes/{{outcome.canvas_id}}"
        >
            Cancel
        </button>
        {#
        <button
            hx-delete="courses/{{course_id}}/outcomes/{{outcome.canvas_id}}/edit"
            class="btn btn-warn"
        >
            Remove alignment
        </button>
        #}
    </div>
</div>
