<div class="item outcome" _="on delete remove me">
    <h3>{{item.name}}</h3>
    <div>
        {% if not item.alignment %}
        <button
            class="btn"
            hx-get="{{course_id}}/outcomes/{{item.canvas_id}}/edit"
            hx-target="closest .outcome"
            hx-swap="outerHTML"
        >
            Set up alignment
        </button>
        <button
            class="btn"
            hx-trigger="confirmed"
            hx-delete="/outcomes/{{item.canvas_id}}"
            _='on click
                call Swal.fire({
                    title:"Are you sure?",
                    text: "This will remove the outcome and any stored attempts for all students in the course.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete the outcome",
                    cancelButtonText: "Cancel",
                    confirmButtonColor: "#f55951",
                    cancelButtonColor: "#361d32"
                })
                if result.isConfirmed trigger confirmed
                end
                on htmx:afterRequest(detail) if detail.xhr.status is 200 trigger delete'
        >
            Delete
        </button>
        {% else %}
        <p>Watching {{ item.alignment.name }}</p>
        {% endif %}
    </div>
</div>
