<div
    class="item outcome"
    _='on onSave(assignmentId)
        set obj to {"outcome_canvas_id": {{outcome.canvas_id}} }
        log obj
        fetch `assignments/${assignmentId}/alignment`
            with 
                method:"PUT", 
                body: obj as JSON,
                headers: {"Content-Type": "application/json"}
        then 
            set my outerHTML to result
        '
>
    <h3>{{outcome.name}}</h3>
    <div
        id="watching"
        hx-trigger="click"
        hx-get="courses/{{course_id}}/assignments"
        hx-target="this"
        hx-swap="outerHTML"
    >
        {% if not outcome.alignment %}
        <button>Set up alignment</button>
        {% else %}
        <p>Watching {{ outcome.alignment.name }}</p>
        {% endif %}
    </div>
</div>
