<div hx-swap-oob="beforeend:.stored-outcomes">
    <div
        id="watching"
        hx-get="{{course_id}}/outcomes/{{item.canvas_id}}/edit"
        hx-target="this"
        hx-swap="outerHTML"
        class="item outcome"
    >
        <h3>{{item.name}}</h3>
        <div>
            {% if not item.alignment %}
            <button>Set up alignment</button>
            {% else %}
            <p>Watching {{ item.alignment.name }}</p>
            {% endif %}
        </div>
    </div>
</div>

<table hx-swap-oob="true" id="course-roster">
    <thead class="headers">
        <th>Name</th>
        {% for outcome in course.outcomes %}
        <th>{{ outcome.name }}</th>
        {% endfor %}
    </thead>
    <tbody class="scroller">
        {% for student in students %}
        {{render_partial('course/partials/student_entry.html', student=student,
        course=course)}} {% endfor %}
    </tbody>
</table>
